body
{
    background: url("case study.png");
    font-family: 'Lobster Two', cursive;
}

.header
{
    color: black;
}

h1
{
    font-size: 90px;
}

.header img
{
    width: 150px;
    border-radius: 80px;
}

.test_image_result
{
    border-radius: 30px;
    background:floralwhite;
    width: 90%;
    margin-bottom: 10px;
    padding: 10px;
    margin-right: 30px;
    box-shadow: 5px 5px 18px black;
}

.test_image_result img
{
   width: 500px;
   height: 500px;
}

hr
{
    width: 100%;
}

#result
{
    box-shadow: 5px 5px 18px grey;
    letter-spacing: 2px;
    background: #F2BAC9;
    border-radius: 20px;
    padding: 20px;
    border: 2px solid grey;
    margin-bottom: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

#footer
{ 
    position: fixed;
    color: #6c757d;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    line-height: 3;
    text-align: center;
    font-family: 'Special Elite', cursive;
}

